@{
    ViewData["Title"] = "Home Page";
}
<div>
    <img src="https://cdn5.focus.bg/bazar/0c/original/0c842720d2b539af3a9b71da8766d90d.jpg" alt="ClimaLuxLogo">
</div>
<div class="row banner-blocks-container banner-block-34213">
    <div class="col-sm-12 col-sm-4 col-md-4">
        <div class="banner-item is_a_link">
            <div class="banner-image">
                <img src="https://eclima.bg/image/cache/catalog/design/Icons/Free_Delivery_icons-50x50.png" alt="Безплатна доставка">
            </div>
            <div class="banner-info">
                <div class="banner-title">Безплатна доставка</div>
                <div class="banner-description">Всички климатици се доставят безплатно</div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-sm-4 col-md-4">
        <div class="banner-item ">
            <div class="banner-image">
                <img src="https://eclima.bg/image/cache/catalog/design/Icons/zashto_eclima-50x50.png" alt="Защо Клима Лукс">
            </div>
            <div class="banner-info">
                <div class="banner-title">Защо Клима Лукс</div>
                <div class="banner-description">Сигурност, качество и професионализъм</div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-sm-4 col-md-4">
        <div class="banner-item ">
            <div class="banner-image">
                <img src="https://eclima.bg/image/cache/catalog/design/Icons/0_procenta_lihva-50x50.png" alt="0% лихва">
            </div>
            <div class="banner-info">
                <div class="banner-title">0% лихва</div>
                <div class="banner-description">Изплащане без оскъпяване</div>
            </div>
        </div>
    </div>
</div>




